@font-face {
  font-family: 'Montserrat Light';
  src: url('../../static/fonts/Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat Regular';
    src: url('../../static/fontsMontserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }