.news-line {

  
  &__wrap {
    @include centered;
    margin-bottom: 2.6rem;
  }

  &__descr {
    max-width: 620px;
    text-align: center;
  }

  &__title {
    font-size: 2.6rem;
  }

  &__subtitle {
    font-size: 1.1rem;
  }
}