doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title news slider
    link(rel="stylesheet", href="assets/css/style.css")
  body
    .page
      .page__container
        .page__wrapper
          section.news-line
            .news-line__wrap
              .news-line__descr
                h1.news-line__title Новости
                .news-line__descr 
                  p Свежайшие из свежих, новостнейшие из новостных: слухи, сплетни, 
                    | сенсации, немного истории, немного легенд и парочка скелетов в шкафу. 
            .slider
              .slider__item
                article.news
                  .news__inner
                    .news__head
                      img.news__img(src="./static/img/news-1.jpg", alt="sport")
                    .news__body
                      span.news__date 
                        time.news__time 6 
                        | сентября
                      h2.news__title Россия проиграла Польше на чемпионате мира по баскетболу

              .slider__item
                article.news
                  .news__inner
                    .news__head
                      img.news__img(src="./static/img/news-2.jpg", alt="sport")
                    .news__body
                      span.news__date 
                        time.news__time 6 
                        | сентября
                      h2.news__title Суд освободил футболистов Кокорина и Мамаева по УДО

              .slider__item
                article.news
                  .news__inner
                    .news__head
                      img.news__img(src="./static/img/news-3.jpg", alt="sport")
                    .news__body
                      span.news__date 
                        time.news__time 6 
                        | сентября
                      h2.news__title Роналдинью стал послом Бразилии по вопросам туризма

              .slider__item
                article.news
                  .news__inner
                    .news__head
                      img.news__img(src="./static/img/news-1.jpg", alt="sport")
                    .news__body
                      span.news__date 
                        time.news__time 6 
                        | сентября
                      h2.news__title тестовый заголовок

    script(src="static/js/libs.min.js")
    script(src="static/js/app.js")

              
         
          


